/* CSS for desktop view */
header {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

#nav ul {
  list-style: none;
  display: flex;
}

#nav ul li {
  margin-right: 10px;
}

#nav ul li a {
  text-decoration: none;
}

#language-toggle-container {
  display: flex;
}

#language-toggle-container button {
  margin-left: 10px;
}

.hero {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
.hero-content {
    text-align: center;
    margin-top: 100px;
}

.tagline {
    font-weight: bold;
}

.cta-button {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

main {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.testimonial {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.author {
    font-weight: bold;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* CSS for mobile view */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #language-toggle-container {
    margin-top: 10px;
  }

  #nav {
    margin-top: 10px;
  }

  #nav ul {
    flex-direction: column;
    align-items: center;
  }

  #nav ul li {
    padding-right: 30px;
  }

  .hero-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 750px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .gallery img {
    grid-column: auto;
    grid-row: auto;
    padding-bottom: 10px;
}

